SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
MQTT_URL=mqtts://
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_PREFIX=athlete-guardian
AI_API_URL=http://127.0.0.1:8000/predict
AI_API_TIMEOUT_MS=20000
PORT=4000
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=ganti-dengan-string-rahasia-yang-panjang-dan-acak
JWT_EXPIRES_IN=30d
